.mayor_form{
    border: 1.5px solid rgb(123, 123, 231);
    margin-top: 20px ;
    margin-left: 50px;
    height: auto;
    width: 300px;
    padding: 15px;
}

h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    padding: 10px;
    width: 100%; 
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color:crimson ;
}
input{
    padding: 5px;
    margin: 5px;
}
#parrafo{
    font-size: 25px;
    color: crimson;
    text-transform: uppercase;
    text-align: center;
}